<div class="page-header">
  <% if @user %>
    <h1><%= @user.github_name.titleize + "'s" %> Collections</h1>
  <% else %>
    <h1>All Collections</h1>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to 'New Collection', new_collection_path, class: 'btn btn-primary btn-sm btn-fa' %>
  <% end %>
</div>

<section>
  <%= render @collections %>
</section>
