<section class="section hero is-primary">
  <div class="container has-text-centered">
    <h2 class="title is-2">Collections</h2>
  </div>
</section>

<section class="section">
  <div class="container">
    <%= render @collections %>
  </div>
</section>
