<section class="section hero is-primary">
  <div class="container has-text-centered">
    <h2 class="title is-2">Collections</h2>
    <% if user_signed_in? %>
      <%= link_to new_collection_path, class: "button is-large is-primary" do %>
        Create a Collection &nbsp; <i class="fa fa-plus"></i>
      <% end %>
    <% end %>
  </div>
</section>

<section class="section">
  <div class="container">
    <%= render @collections %>
  </div>
</section>
