<% if current_user %>
  <% content_for :title, "GitHub issues that need your help. ðŸ‘" %>
  <% content_for :action do %>
    <%= link_to "Create a new collection", new_collection_path, class: "button is-primary" %>
  <% end %>

  <% @collections.in_groups_of(2, false).each do |collection| %>
    <div class="tile is-12">
      <%= render collection %>
    </div>
  <% end %>
<% else %>
  <% content_for :title, "Login with GitHub and discover a thousand ways to help!" %>
  <% content_for :action do %>
    <%= link_to "Sign In", user_github_omniauth_authorize_path, class: "button is-primary" %>
  <% end %>
<% end %>


