<div class="card col-xs-12">
  <div class="card-content">
    <div class="card-body">
      <h4><%= issue.title %></h4>
      <p><%= issue.url %></p>
      <p><%= issue.labels %></p>
    </div>
  </div>
</div>
