<div class="box">

  <p class="title"><%= link_to issue.title, issue.url %></p>

  <p>
    <% issue.labels.each do |label| %>
      <span class="issue tag" style="background-color: #<%= label.color %>"><%= label.name %></span>
    <% end %>
  </p>

  <hr />

  <footer class="level is-mobile">
    <div class="level-left">
      <%= link_to issue.project.name, issue.project.url, class: "level-item" %>
    </div>
  </footer>

</div>
