<div class="box">
  <div class="content">
    <p class="title"><%= link_to issue.title, issue.url %></p>
    <p class="subtitle"><%= link_to issue.project.name, issue.project.url %></p>
  </div>
  <% issue.labels.each do |label| %>
    <span class="tag #{label.color}"><%= label.name %></span>
  <% end %>
</div>
