<section class="section hero is-primary">
  <div class="container has-text-centered">
    <h2 class="title is-2">Users</h2>
  </div>
</section>

<p id="notice"></p>

<section class="section">
  <div class="container">
    <%= render @users %>
  </div>
</section>
