<div class="page-header">
  <h1><%= @headline %></h1>
  <% if user_signed_in? %>
  <%= link_to new_project_path, class: 'btn-floating btn-primary waves-effect waves-light pull-right' do %>
    <i class="fa fa-plus" aria-hidden="true"></i>
  <% end %>
  <% end %>
</div>

<%= render @projects %>
