/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: white;
}
#nav-toggle {
  display: block;
}

.hero.is-primary .nav-toggle span {
  background-color: white;
}
.hero.is-primary .nav-toggle:hover {
  background-color: rgba(10, 10, 10, 0.1);
}
.hero.is-primary .nav-toggle.is-active span {
  background-color: white;
}
.hero.is-primary .nav-menu .nav-item {
  border-top-color: rgba(255, 255, 255, 0.2);
}

.hero.is-primary .nav-menu {
  background-color: #00d1b2;
  box-shadow: 0 4px 7px rgba(10, 10, 10, 0.1);
  left: 0;
  display: none;
  right: 0;
  top: 100%;
  position: absolute;
}
.hero.is-primary .nav-menu .nav-item {
  border-top: 1px solid rgba(219, 219, 219, 0.5);
  padding: 10px;
}
.hero.is-primary .nav-menu.is-active {
  display: block;
}

.nav-right {
  width: 50%;
}

.sign-in {
  line-height: 30px;
  margin-right: 20px;
}

.small-github-avatar {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  margin-right: 0.3rem;
}

.large-github-avatar {
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.nav-menu a:hover {
  background-color: transparent;
}

#search {
  width: 75%;
}

.box .title {
  font-weight: bold;
}

.issue.tag {
  font-weight: bold;
  color: white;
}

#block-menu li a {
  display: block;
}

#block-menu li a.is-large {
  padding-top: 0.75rem;
  margin-bottom: 1rem;
}

.box footer a {
  color: inherit;
}

.level-left + .level-right {
  display: inline;
  margin-top: 0;
}

.level-item:not(:last-child) {
  margin-bottom: 0;
}

.level-left .level-item:not(:last-child),
.level-right .level-item:not(:last-child) {
    margin-right: 0;
}

.hero.is-primary .button.is-primary {
  border-width: 1px;
  border-color: white;
}
