/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: white;
}

a.nav-item.is-brand  {
  font-weight: bold;
}

.small-github-avatar-header {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.small-github-avatar {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  position: relative;
  top: 0.5rem;
}

.large-github-avatar {
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.tile.is-child {
  margin: 1rem !important;
}

.box .title {
  font-weight: bold;
}

.issue.tag {
  font-weight: bold;
  color: white;
}

.card footer a {
  color: inherit;
}

.level-left + .level-right {
  display: inline;
  margin-top: 0;
}

.level {
  padding-top: 10px;
}

.level-item:not(:last-child) {
  margin-bottom: 0;
}

.level-left .level-item:not(:last-child),
.level-right .level-item:not(:last-child) {
    margin-right: 0;
}

.hero .button {
  border-width: 1px;
  border-color: white;
}
