/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.nav-right {
  width: 50%;
}

.sign-in {
  line-height: 28px;
  margin-right: 20px;
}

#nav-github-avatar {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  margin-right: 0.3rem;
}

.box {
  border-top: 10px solid #00d1b2;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.3);
}

.issue.tag {
  color: white;
  background-color: #00d1b2;
}

#main-menu li a {
  display: block;
  padding-top: 0.75rem;
  margin-bottom: 1rem;
}
