<div class="jumbotron">
  <h1>Collections of Github Projects</h1>
  <p>Easily search across all of your handpicked Github projects.</p>
  <p><a class="btn btn-primary btn-lg waves-effect waves-light" href="/collections" role="button">Explore Collections</a></p>
</div>
