<div class="jumbotron">
  <h3>Collections of handpicked Github projects.</h3>
  <a class="btn btn-primary btn-lg waves-effect waves-light" href="/collections" role="button">Explore Collections <span class="badge"><%= @collection_count %></span></a>
  <a class="btn btn-success btn-lg waves-effect waves-light" href="/projects" role="button">Explore Projects <span class="badge"><%= @project_count %></span></a>
  <a class="btn btn-info btn-lg waves-effect waves-light" href="/issues" role="button">Explore Issues <span class="badge"><%= @issue_count %></span></a>
  <a class="btn btn-default btn-lg waves-effect waves-light" href="/users" role="button">Explore People <span class="badge"><%= @user_count %></span></a>
</div>
