<% content_for :sub_title do %>
  <h3 class="subtitle is-3">
    Hand picked Github projects.
  </h3>
<% end %>

<%= render partial: "collections/collection", collection: @collections if @collections.present? %>
<%= render partial: "projects/project", collection: @projects if @projects.present? %>
<%= render partial: "issues/issue", collection: @issues if @issues.present? %>
